<!DOCTYPE html>
<html>
<head>
    <title>Contactez-nous</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/services">Nos services</a>
        <a href="/contact">Contactez-nous</a>
    </nav>
    <h1>Contactez-nous</h1>
    <p>Si vous avez des questions, des préoccupations ou si vous voulez simplement en savoir plus sur nos services, n'hésitez pas à nous contacter. Nous sommes impatients de vous entendre!</p>
  
</body>
</html>
